<html><body><style>
			* {
				font-family:sans-serif;
			}
			body {
				text-align:center;
				padding:1em;
			}
			.messages {
				width:100%;
				max-width:700px;
				text-align:left;
				display:inline-block;
			}
			.messages img {
				background-color:rgb(248,244,240);
				width:36px;
				height:36px;
				border-radius:0.2em;
				display:inline-block;
				vertical-align:top;
				margin-right:0.65em;
			}
			.messages .time {
				display:inline-block;
				color:rgb(200,200,200);
				margin-left:0.5em;
			}
			.messages .username {
				display:inline-block;
				font-weight:600;
				line-height:1;
			}
			.messages .message {
				display:inline-block;
				vertical-align:top;
				line-height:1;
				width:calc(100% - 3em);
			}
			.messages .message .msg {
				line-height:1.5;
			}
		</style><div class="messages"><div><img src="https://avatars.slack-edge.com/2017-10-13/256271954148_da84c7b3cef0ae8f3c29_72.png" /><div class="message"><div class="username">johnsutten</div><div class="time">2018-08-22 15:38</div><div class="msg">Morning all -</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-10-13/256271954148_da84c7b3cef0ae8f3c29_72.png" /><div class="message"><div class="username">johnsutten</div><div class="time">2018-08-22 15:39</div><div class="msg">do we know if there is any methods to utilize this tool without use PXE and just send a command to add a node?</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-07-14/2459866780_72.jpg" /><div class="message"><div class="username">greg</div><div class="time">2018-08-22 16:06</div><div class="msg">drpcli machines create</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-10-13/256271954148_da84c7b3cef0ae8f3c29_72.png" /><div class="message"><div class="username">johnsutten</div><div class="time">2018-08-22 16:17</div><div class="msg">so if i had machines 192.168.1.202 - 250 - how could i use the tool to provision machines ? i wouldnt want another endpoint just be able to manage the servers</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-07-14/2459866780_72.jpg" /><div class="message"><div class="username">greg</div><div class="time">2018-08-22 16:20</div><div class="msg">you could use DRP DHCP reservations to assign mac to IP.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-07-14/2459866780_72.jpg" /><div class="message"><div class="username">greg</div><div class="time">2018-08-22 16:20</div><div class="msg">You can also use DRP Subnet ACtive range to scope the IP addresses handed out by DRP DHCP.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 16:27</div><div class="msg">@johnsutten you can create a Machine Object to represent a physical machine - without booting the machine in to sledgehammer - basically - take a look at `drpcli machines show Name:&lt;MACHINE_NAME&gt;` - save that to a file, modify appropirately, then create with that JSON as input</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 19:17</div><div class="msg"><!here> hey guys, I am currently trying to check if a param exist in a machine. The thing is I do not know the name of the parameter.
This is a generated parameter name which is concatenating interfaces name with a string.
Typically I have these parameters:
```eno1/lldp/chassis
eno2/lldp/chassis
etc...```

To make it simple, I have a stage that is retrieving the lldp information of all interfaces and store the chassis and port of each interface in a param in the machine object in DRP.
What I want to do after that is to compare the previously retrieved lldp informations with what is stored in our DCIM.

The thing is that I want to ensure that the lldp parameters of each interface is there before doing the comparison, so I am trying to write a piece of python code that look like this:
```
def nic_inventory_check(nic_list):
    exit_message = []
    exit_code = []
    for nic in nic_list:
        {{if .ParamExists "{0}/lldp/port".format(nic)}}
            exit_message.append(("Param {0}/lldp/port found.".format(nic)))
            exit_code.append(0)
            yield {'{0}/lldp/port'.format(nic)): {{.Param "{0}/lldp/port".format(nic)}}}
        {{else}}
            exit_message.append(("Param {0}/lldp/port not found.".format(nic)))
            exit_code.append(2)
            yield 'error'
        {{end}}
        {{if .ParamExists "{0}/lldp/chassis".format(nic)}}
            exit_message.append(("Param {0}/lldp/chassis found.".format(nic)))
            exit_code.append(0)
            yield {'{0}/lldp/chassis'.format(nic)): {{.Param "{0}/lldp/chassis".format(nic)}}
        {{else}}
            exit_message.append(("Param {0}/lldp/chassis not found.".format(nic)))
            exit_code.append(2)
            yield 'error'
        {{end}}
```
Of course this piece of code isn't accepted by DRP :`{{if .ParamExists "{0}/lldp/port".format(nic)}}`. It is telling me that there is a parsing error:
```Parse error for template ubisoft-lldp-check.py.tmpl: template: ubisoft-lldp-check.py.tmpl:88: unexpected . after term "\"{0}/lldp/port\""```</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 19:18</div><div class="msg">I assume that mixing python code with `golang/text template` isn't working. Do you guys have an idea on how I could make this work ?</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:36</div><div class="msg">@florent.wagener - correct - you can not mix Golang Templating and Python.  The golang template piece is interpreted on the DRP Endpoint _prior_ to being handed to the Machine, and subsequently the Python interpreter.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:37</div><div class="msg">In this case - you would probably want to make logic choices and local machine checks first in Python  - then use `drpcli` to call to the DRP Endpoint to get the params info.  You'll need to generate a Token for use in the Python piece, to pass to `drpcli` to authenticate.  See the `setup.tmpl` template for a Bash example.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:38</div><div class="msg">We do have a pattern in the Inventory content that is designed to store and check information related to hardware and state changes in the hardware, using DRP itself as the data store.  You might want to see if this pattern is adaptable to what you are doing.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:38</div><div class="msg"><a href="https://www.youtube.com/watch?v=xDqxEW5bgiQ&amp;t=1s">https://www.youtube.com/watch?v=xDqxEW5bgiQ&amp;t=1s</a></div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:41</div><div class="msg">We have also added a lot of Golang Template halpers in the most current version of DRP (v3.10.0) that extends and adds a lot of capabilities the server-side golang template processing.  This won't necessarily help you with this specific task, but you might want to take a look at it for future reference and templating work:
<a href="http://masterminds.github.io/sprig/">http://masterminds.github.io/sprig/</a></div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:42</div><div class="msg">additionally - we have some work around LLDP we've done already as part of the Network menu functionality</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:50</div><div class="msg">Also - you can use a consistently named Param to store the information in - but use a more complex structure to store the dynamic details in that Param - you can then use a `{{range ... }}` golang template structure to iterate over each of the key/value pairs - and pass that in for use in Python - here's an example of ``range``</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 19:50</div><div class="msg"><a href="https://github.com/digitalrebar/provision-content/blob/94af748094ef45d27eaa096f3bd11b6fbdd64cfa/rose/templates/rose-config.sh.tmpl#L48">https://github.com/digitalrebar/provision-content/blob/94af748094ef45d27eaa096f3bd11b6fbdd64cfa/rose/templates/rose-config.sh.tmpl#L48</a></div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 19:50</div><div class="msg">thanks @shane This is usefull informations, I'm gonna read all of that and keep you posted :slightly_smiling_face:</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-07-15/2462284870_72.jpg" /><div class="message"><div class="username">vlowther</div><div class="time">2018-08-22 20:01</div><div class="msg">The other thing you could do is store the LLDP info for all of the nics as a single JSON blob</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-07-15/2462284870_72.jpg" /><div class="message"><div class="username">vlowther</div><div class="time">2018-08-22 20:01</div><div class="msg">in a single param</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2017-09-18/243018470675_611b6896ed20358ab1aa_72.jpg" /><div class="message"><div class="username">shane</div><div class="time">2018-08-22 20:01</div><div class="msg">^^^ "consistently named Param to store information in" :slightly_smiling_face:</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:03</div><div class="msg">@vlowther I could do that too yes...</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-07-15/2462284870_72.jpg" /><div class="message"><div class="username">vlowther</div><div class="time">2018-08-22 20:03</div><div class="msg">then you can have one {{.ParamAsJSON "param-name"}} call to get the param as a JSON blob, and do all your iterating in Python.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-22 20:04</div><div class="msg">I think we have a lldp json stage</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:05</div><div class="msg">@zehicle yes you did, but this is much like the gohai stage. There is a lot of information I don't need int that param:
That's why I am interested in the inventory stage that @shane mentionned.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-22 20:13</div><div class="msg">yes.  My expectation was that you would be able to use the adhoc jq filters from the inventory on lldp data to add more keys into your inventory/data.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-22 20:13</div><div class="msg">the inventory stage design allows you to specify any command that creates json and then apply jq to filter down to critical fields.</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:13</div><div class="msg">oooh</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:14</div><div class="msg">that's fancy</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:14</div><div class="msg">Is there any example ? not sure how to do it though.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-22 20:16</div><div class="msg"><a href="https://provision.readthedocs.io/en/tip/doc/content-packages/task-library.html#inventory-collect">https://provision.readthedocs.io/en/tip/doc/content-packages/task-library.html#inventory-collect</a></div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:32</div><div class="msg">This is amazing.</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:33</div><div class="msg">I'm gonna give this a try first.</div></div></div><br/>
<div><img src="https://secure.gravatar.com/avatar/8ed489f4fec23363fa7edff0cf3fab50.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0015-72.png" /><div class="message"><div class="username">florent.wagener</div><div class="time">2018-08-22 20:34</div><div class="msg">This could be the answer for a lot of thing I am already doing and some I am not yet doing :smile:</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-23 04:39</div><div class="msg">SPRIG ROCKS</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-23 04:48</div><div class="msg">Fun little integration for KRIB and inventory.... if you use the inventory stage (creates inventory/data from gohai) then KRIB will automatically use that data to label to nodes.</div></div></div><br/>
<div><img src="https://avatars.slack-edge.com/2014-09-17/2677396473_72.jpg" /><div class="message"><div class="username">zehicle</div><div class="time">2018-08-23 04:49</div><div class="msg">That means that you can use the inventory information to select nodes for scheduling in Kubernetes automatically</div></div></div><br/>
</div></body></html>