/* csslint
  adjoining-classes: false,
  box-sizing: false,
  fallback-colors:false,
  ids:false,
  unique-headings: false,
  universal-selector: false,
  qualified-headings: false
*/

/*
#6f7e9f - mid
#596580 - dark
#24344f - darker
#cfd6e6 - light
#f5f7fa - lighter
#607dbf - saturated
 */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Lato', Helvetica, Arial;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f5f7fa;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 976px;
}

.navigation {
  background-color: #24344f;
  padding: 8px 0;
}

.navigation .navigation-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation .logo {
  color: #f5f7fa;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 21px;
  text-decoration: none;
}

.navigation .logo:hover {
  text-decoration: none;
}

.navigation .digital {
  margin-left: 14px;
}

.navigation .rebar {
  font-weight: bold;
}

.navigation .links {
  display: flex;
  text-transform: uppercase;
}

.navigation .link {
  text-decoration: none;
  margin: 0 8px;
  padding: 8px 0;
}

.navigation .link:not(:first-child) {
  border-left: 1px solid #6f7e9f;
  padding-left: 16px;
}

.navigation .link, .navigation .visited {
  color: #f5f7fa;
}

.navigation .link:hover {
  text-decoration: underline;
}

.navigation .dropdown {
  display: none;
}

.nav-container {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation .dropdown .menu {
  top: 30px;
  width: 140px;
}

.nav-container i {
  color: #f5f7fa;
}

.navigation .dropdown .menu i {
  color: #607dbf;
}

.try-out {
  background-color: #24344f;
  color: #f5f7fa;
  padding: 60px 0;
}

.welcome {
  font-size: 20px;
  line-height: 1.5;
  color: #cfd6e6;
}

.welcome .logo {
  color: #f5f7fa;
  font-weight: bold;
}

.logo img {
  height: 48px;
}

.try-out .container {
  display: flex;
}

.try-out .container > div {
  flex: 0.5;
  padding: 14px;
}

.install-options {
  text-align: center;
}

.install-options .welcome {
  margin-bottom: 14px;
}

section.container {
  padding: 80px 24px;
  line-height: 1.5;
  font-size: 20px;
}

section .header {
  color: #24344f !important;
}

.inverted {
  background-color: #24344f;
  color: #cfd6e6;
}

.inverted .header, .inverted .divider {
  color: #f5f7fa !important;
}

.inverted a {
  color: #58e;
}

p, ul {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1em;
  margin-top: 1em;
}

.key-features {
  align-items: center;
  column-count: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.feature {
  align-items: center;
  color: #596580;
  display: grid;
  grid-template-columns: 80px auto;
  line-height: 1.5;
  margin: 14px;
  width: 40%;
}

.feature .far,
.feature .fa {
  color: #58e;
  font-size: 40px;
  text-align: center;
  margin-right: 14px;
}

.container a, a.ui.button:hover {
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.paragraph-section b,
.paragraph-section strong {
  color: #f7f9fc !important;
}

.paragraph-section ul {
  padding-left: 21px;
}

.paragraph-section ul li {
  margin: 8px 0;
}

.resource-grid {
  display: flex;
  column-count: 2;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
}

.resource-grid .resource {
  margin: 14px;
  width: 40%;
  padding: 14px;
  font-size: 20px;
  border-radius: 14px;
  display: grid;
  grid-template-columns: 80px auto;
}

.resource-grid .resource .header {
  color: hsla(222, 50%, 30%, 1) !important;
  font-size: 18px;
}

.resource-grid .resource .subheader {
  color: hsla(222, 50%, 60%, 1);
  font-size: 16px;
}

.resource-grid .resource .text {
  display: flex;
  flex-direction: column;
}

.resource-grid .dropdown .menu {
  margin-top: 0;
}

.resource-grid .resource > i {
  color: hsla(222, 60%, 60%, 1);
  align-self: center;
  font-size: 40px;
  text-align: center;
}

.resource-grid .resource:hover {
  color: hsla(222, 80%, 70%, 1);
  background-color: hsla(222, 60%, 95%, 1);
}

.resource-grid .resource:hover  i {
  color: hsla(222, 80%, 70%, 1);
  }

.resource-grid .resource:hover .header {
  color: hsla(222, 50%, 50%, 1) !important;
}

.resource-grid a.resource:hover {
  text-decoration: none;
}

.rackn-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: stretch;
  width: 600px;
  margin: 0 auto;
}

.rackn-features .rackn-feature {
  margin: 14px;
  padding: 14px;
  font-size: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.rackn-features .rackn-feature:nth-child(even) {
  flex-direction: row-reverse;
}

.rackn-features .rackn-feature i {
  margin-right: 38px;
  margin-left: 0;
}

.rackn-features .rackn-feature:nth-child(even) i {
  margin-left: 38px;
  margin-right: 0;
}

.rackn-features .rackn-feature .header {
  color: hsla(222, 50%, 10%, 1) !important;
  font-size: 20px;
  line-height: 1.4;
}

.rackn-features .rackn-feature .subheader {
  color: hsla(222, 50%, 20%, 1);
  font-size: 16px;
}

.rackn-features .rackn-feature .text {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rackn-features .rackn-feature > i {
  color: hsla(222, 60%, 60%, 1);
  align-self: center;
  font-size: 60px;
  text-align: center;
}


/* end of new css */

.footer {
  background: #222;
  color: #777;
}

.footer footer {
  box-shadow: inset 0 11px 18px -2px rgba(0, 0, 0, .43);
  font-size: 0.75em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.footer footer a:link {
  color: #ddd;
  text-decoration: none;
}

.footer footer a:hover {
  color: #aaa;
  text-decoration: underline;
}

.footer footer a:visited {
  color: #ddd;
}

.footer footer a:active {
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 14px;
    width: auto;
  }

  .try-out .container {
    flex-direction: column;
    text-align: center;
  }

  .container h1 {
    text-align: center;
  }

  .paragraph-section {
    text-align: justify;
  }

  .key-features,
  .resource-grid,
  .rackn-features {
    flex-flow: column nowrap;
  }

  .resource-grid .resource,
  .feature {
    width: 90%;
  }

  .rackn-features {
    width: auto;
  }

  .rackn-features .rackn-feature {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 14px auto;
    text-align: center;
  }

  .rackn-features .rackn-feature i,
  .rackn-features .rackn-feature:nth-child(even) i {
    font-size: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .rackn-features .rackn-feature .header {
    margin: 8px;
  }

  .rackn-features .rackn-feature:nth-child(even) {
    flex-direction: column;
  }

  .navigation .dropdown {
    display: inline-block;
  }

  .navigation .links {
    display: none;
  }
}