/* csslint
  adjoining-classes: false,
  box-sizing: false,
  fallback-colors:false,
  ids:false,
  unique-headings: false,
  universal-selector: false,
  qualified-headings: false
*/

/*
#6f7e9f - mid
#596580 - dark
#24344f - darker
#cfd6e6 - light
#f5f7fa - lighter
#607dbf - saturated
 */

body, html {
  font-family: 'Lato', Helvetica, Arial;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f5f7fa;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 976px;
}

.navigation {
  background-color: #24344f;
  padding: 8px 0;
}

.navigation .navigation-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation .logo {
  color: #f5f7fa;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 21px;
  text-decoration: none;
}

.navigation .digital {
  margin-left: 14px;
}

.navigation .rebar {
  font-weight: bold;
}

.navigation .links {
  display: flex;
  text-transform: uppercase;
}

.navigation .link {
  text-decoration: none;
  margin: 0 8px;
  padding: 8px 0;
}

.navigation .link:not(:first-child) {
  border-left: 1px solid #6f7e9f;
  padding-left: 16px;
}

.navigation .link, .navigation .visited {
  color: #f5f7fa;
}

.navigation .link:hover {
  text-decoration: underline;
}

.try-out {
  background-color: #24344f;
  color: #f5f7fa;
  padding: 60px 0;
}

.welcome {
  font-size: 20px;
  line-height: 1.5;
  color: #cfd6e6;
}

.welcome .logo {
  color: #f5f7fa;
  font-weight: bold;
}

.try-out .container {
  display: flex;
}

.try-out .container > div {
  flex: 0.5;
  padding: 14px;
}

.install-options {
  text-align: center;
}

.install-options .welcome {
  margin-bottom: 14px;
}

section.container {
  padding: 80px 24px;
  line-height: 1.5;
  font-size: 20px;
}

section .header {
  color: #24344f !important;
}

.inverted {
  background-color: #24344f;
  color: #cfd6e6;
}

.inverted .header {
  color: #f5f7fa !important;
}

.inverted a {
  color: #58e;
}

.ci-cd {
  display: none;
  /*display: flex;*/
  flex-flow: row wrap;
  justify-content: center;
}

.ci-cd a {
  margin: 4px;
  line-height: 1;
}

p, ul {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1em;
  margin-top: 1em;
}

.key-features {
  align-items: center;
  column-count: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.feature {
  align-items: center;
  color: #596580;
  display: flex;
  line-height: 1.5;
  margin: 14px;
  width: 40%;
}

.feature i {
  color: #58e;
  font-size: 40px;
  margin-right: 21px;
}

.container a, a.ui.button:hover {
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.resource-grid {
  /*display: flex;*/
  flex-flow: row wrap;
  column-count: 3;
}

/* end of new css */

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #eee;
}

sup { 
    font-size: smaller;
    vertical-align: super;
}

#top-img {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

strong {
  font-weight: bold;
}

.anchor {
  display: block;
  position: relative;
  top: calc(-3.5em - 2px);
  visibility: hidden;
}

.card {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.getting-started-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 8px;
  text-align: center;
  width: auto;
}

.getting-started {
  align-items: center;
  border: 1px solid transparent;
  color: #555;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 150px;
  justify-content: center;
  line-height: 1.2;
  margin: 5px;
  position: relative;
  text-align: center;
  transform: translateZ(0);
  text-decoration: none;
  transition: all 0.2s;
  width: 150px;
}

.getting-started:hover, .getting-started:focus {
  text-decoration: none;
}

.getting-started:not(.noclick) {
  cursor: pointer;
}

.getting-started i.fa, .getting-started i.fab {
  color: #58e;
  font-size: 60px;
}

.getting-started::after {
  content: attr(alt);
  margin-top: 14px;
  color: #666;
}

.getting-started:hover {
  border: 1px solid #58e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #58e;
  transform: translateY(-4px);
}

.getting-started:hover::after {
  color: #58e;
}


.getting-started:hover .dropdown {
  opacity: 1;
  pointer-events: all;
}

.dropdown {
  background: #444;
  color: #fff;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.2s;
  width: 100%;
}

.dropdown-link {
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s;
}

.dropdown-link:hover {
  background: #777;
}

.content {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  transition: all 0.2s;
}

#layer {
  z-index: 1;
}

#toolbar {
  height: 48px;
  margin: 0;
  padding: 0 8px;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100vw;
  z-index: 3;
}

#toolbar:not(.overlay) {
  background: #000;
  color: #58e;
}

.overlay {
  background: rgba(0, 0, 0, 0.56);
  color: rgba(255, 255, 255, 0.8);
}

.link-container {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 100%;
  line-height: 16px;
  text-align: right;
  top: 0;
  transform: translateX(0);
}

.link-container .link {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.link-container .link span::before {
  background: rgba(255, 255, 255, 0);
  content: '';
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -100%;
  transition: all 0.2s;
  width: 100%;
}

.link-container:hover .link span::before {
  background: rgba(39, 177, 251, 0.2);
  top: 0;
  transition: all 0.2s;
}

.footer {
  background: #222;
  color: #777;
}

.footer footer {
  box-shadow: inset 0 11px 18px -2px rgba(0, 0, 0, .43);
  font-size: 0.75em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.footer footer a:link {
  color: #ddd;
  text-decoration: none;
}

.footer footer a:hover {
  color: #aaa;
  text-decoration: underline;
}

.footer footer a:visited {
  color: #ddd;
}

.footer footer a:active {
  color: #fff;
}

.split {
  text-align: center;
}

.split > div {
  display: inline-block;
  margin: auto;
  text-align: left;
  transform: translateZ(0);
  vertical-align: top;
  width: 40%;
}

.split div p {
  font-size: 12px;
  line-height: 22px;
}

.split div .material-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.split div .material-icons {
  color: rgba(0, 20, 70, 0.2);
  display: flex;
  font-size: 100px;
  margin: auto;
}


.logo img {
  height: 48px;
}

@media screen and (max-width: 800px) {
  #top-img {
    height: 200px;
  }

  .content.card {
    display: flex;
    flex-direction: column;
  }

  .bear-image {
    align-self: center;
    width: 150px;
  }

  .typing-container {
    height: 150px;
    margin-top: 50px;
  }

  .typing-font {
    font-size: 16px;
  }

  nav img {
    max-height: 30px;
    position: relative;
    top: 7px;
  }

  .card {
    margin: 8px;
    width: auto;
  }

  .content h2 {
    font-size: 20px;
    line-height: 1.8em;
  }

  .content p, ul {
    font-size: 12px;
    line-height: 1.4rem;
  }

  .split > div {
    display: block;
    width: auto;
  }

  .getting-started {
    font-size: 15px;
    height: 100px;
    margin: 8px;
    transition: background-color 0.2s;
    width: 100px;
  }

  .getting-started i.fa, .getting-started i.fab {
    font-size: 50px;
  }

  .menu-button {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 48px;
    z-index: 3;
  }

  #toolbar {
    height: 48px;
  }

  #toolbar:not(.overlay) .nav-bar {
    background: #000;
    color: #58e;
  }

  .overlay .nav-bar {
    background: rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.5);
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 200px;
    position: absolute;
    right: -200px;
    top: 48px;
    transition: all 0.2s;
  }

  .nav-bar.hover {
    right: 0;
  }

  .nav-bar.hover::before {
    content: '';
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .link {
    margin-right: 20px;
  }

  .link-container .link span::before {
    background: rgba(255, 255, 255, 0);
    content: '';
    height: 100%;
    left: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.2s;
    width: 100%;
  }

  .link-container:hover .link span::before {
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    transition: all 0.3s;
  }

}